{:deps
 {org.clojure/clojure         {:mvn/version "1.10.2"}
  scicloj/tablecloth          {:mvn/version "6.00-beta-7"}
  tick                        {:mvn/version "0.4.27-alpha"}
  org.threeten/threeten-extra {:mvn/version "1.5.0"}}
 :aliases
 {:dev
  {:extra-deps {clj-kondo         {:mvn/version "2021.03.03"}
                scicloj/notespace {:mvn/version "3-beta3"}
                midje/midje       {:mvn/version "1.9.10"}}}}}
